.Container{
    
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    text-align: center;
    /* margin-top: 2%;  */
    /* margin: 0px 0; */
}

.topo {
    background-color: #314c53;
    color:#bbdec6;
    position: static;
    width: 100%;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    display:flex;
    height: 70px;
  }



.container div.row2:nth-child(odd) {
    background-color:#e5fdec;
}

.MotherEdit{
    width: 100%;
    display: flex;
    /* border: solid 1px red; */
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-top: -30px;
}

.ContainerEdit{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: left;
    margin-top: 2%; 
    /* border: solid 1px; */
    width: 33%;
}

.ContainerDelete{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    text-align: left;
    margin: 40px; 
}

.ContainerSearch{
    /* border: solid 1px; */
    /* background-color:rgb(214, 0, 0); */
    margin-top: -60px;
}

.serchRow{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    text-align: left;  
}

.divContainerDelete{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 30px;
    padding: 5px;
    border:0;

}

.containerGrid{
    grid-row: 1; 
    text-align: left;
    min-width: 200px;
    background-color: #f1f0f0;
    padding-top: 5px;
}

label{
    color:rgb(180, 180, 180);
}

.btnContainer{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center;
}

form{
    margin: 0 auto;
    display: inline-block;
}

input[type=text]{
    display: flex;
    margin: 10px;
    width: 400px;
    height: 25px;
}

input[type=submit]{
    margin: 30px 10px;
    width: 190px;
    height: 40px;
}

.btnCadastrar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color: #27bd6a;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    padding: 10px;
}

.btnCadastrar:hover{
    background-color: #209253;
}

.btnCadastrar:active{
    color: #000;
}

.btnSalvar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color: #27bd6a;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    width: 120px;
    height: 40px;
    cursor: pointer;
    padding: 10px;
}

.btnSalvar:hover{
    background-color: #209253;
}



.btnCancelar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color:rgb(189, 39, 39);
    border-radius: 5px;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    text-align: center;
    width: 120px;
    height: 40px;
    color:#fff;
    border: 0;
    margin: 20px
}

.btnCancelar:hover{
    background-color: darkred;
}

.btnCancelar:active{
    color: #000;
}

.btnDelete{
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    text-align: center;
    width: 60px;
    height: 40px;
    background-color:rgb(189, 39, 39);
    color:#fff;
    border: 0;
}

.btnDelete:hover{
    background-color: darkred;
}

.btnDelete:active{
    background-color: #570101;
    color:#6b4b4b
}

.btnEdit{
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    text-align: center;
    width: 60px;
    height: 40px;
    background-color:#f0ce4e;
    color:#000;
    border: 0;
}

.btnEdit:hover{
    background-color: #c0a440;
}

.btnEdit:active{
    background-color: #947e31;
    color:#6b6b4b
}

.divAlert{
    display: flex;
    width: 90%;
    height: 40px;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    text-align: center;
    background-color: rgb(253, 205, 208);
    color:rgb(214, 0, 0);
    font-weight: 500;
    display: inline-block; 
    padding-top: 5px;

}


.divAlertAlter{
    position: relative;
    display: flex;
    width: 90%;
    height: 40px;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    text-align: center;
    background-color: rgb(253, 246, 205);
    color:rgb(214, 157, 0);
    font-weight: 500;
    display: inline-block; 
     padding-top: 5px; 
    /* margin-top: 25px; */
}

.divAlertCreate{
    position: relative;
    display: flex;
    width: 90%;
    height: 40px;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    text-align: center;
    background-color: #e5faeb;
    color:#27bd6a;
    font-weight: 500;
    display: inline-block; 
    padding-top: 5px;
    /* margin-top: 25px; */
}

