.topo {
    background-color: #314c53;
    color:#bbdec6;
    position: static;
    width: 100%;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    display:flex;
    height: 70px;
    /* margin-top: 25px; */
  }